---
import Section from '../components/Section.astro';
---
<Section id="habilidades">
    <h2 class="text-gray-900 dark:text-gray-100 text-3xl font-bold leading-tight tracking-[-0.015em] mb-12 text-center">
        Habilidades
    </h2>
    <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-8">
        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/php-original.svg" alt="php" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">Php</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/javascript-original.svg" alt="JavaScript" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">JavaScript</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/typescript-original.svg" alt="TypeScript" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">TypeScript</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/react-original.svg" alt="React" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">React</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/github-original.svg" alt="GitHub" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">GitHub</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/git-original.svg" alt="Git" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">Git</span>
        </div>

        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/docker-original.svg" alt="Docker" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">Docker</span>
        </div>
        
        <div class="flex flex-col items-center gap-2 p-4 bg-gray-100 dark:bg-gray-800/50 rounded-lg shadow-sm hover:bg-gray-200 dark:hover:bg-gray-800/70 transition-colors">
            <div class="h-12 w-12 rounded flex items-center justify-center">
                <img src="/icons/postgresql-original.svg" alt="PostgreSql" class="h-12 w-12" />
            </div>
            <span class="font-medium text-gray-900 dark:text-gray-200">PostgreSql</span>
        </div>
    </div>
</Section>